/* External Resources */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

/* Variables */
:root {
  font-size: 10px;
  --white : white;
  --lightGray : #d6e2f0;
  --grayishBlue : #7b879d;
  --darkBlue : #1f3251;
  --padding-default : 15px;
  --margin-default: 15px;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.25;
  background-color: var(--lightGray);
}

main {
  display: flex;
  min-height: 100vh; /* Without height property the card won't align vertically */
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 320px;
  background-color: var(--white);
  padding: var(--padding-default);
  border-radius: 10px;
}

.wrapper-image {
  border-radius: 10px;
  overflow: hidden;
}

.wrapper-text {
  text-align: center;
}


.wrapper-text>* {
  margin-top: var(--margin-default);  /* Applies margin to all childs of the wrapper */
}

.wrapper-text:last-child {
  margin-bottom: var(--margin-default); /* Applies margin to the last element of the wrapper */
}

.wrapper-text .heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--darkBlue);
}

.wrapper-text .paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grayishBlue);
}

footer {
  margin: var(--margin-default) 0;
}

footer .attribution { 
  font-size: 1.1rem; 
  text-align: center; 
}
footer .attribution a { 
  color: #3e52a3; 
}